<div class="banner">
  <div>
    <span class="main-text" style="margin-top: 150px">Hasta 15 días de</span>
    <br>
    <span class="main-text">entregas gratis!</span>
  </div>
  <div class="main-text-2">
    Para tus primeros pedidos en Restaurantes pagando con tarjeta.
  </div>
  <div class="main-text-3">
    *Aplican TyC
  </div>
  <div class="main-text-4">
    <a href="" class="main-text-4"><span>¡Pide ahora!</span></a>
  </div>
</div>
<section>
  <p class="subtitle">¿Necesitas algo más?</p>
  <div class="cards-section1">
    <a href="">
      <div class="card1-section1">
        <div>
          <img alt="Restaurantes" src="https://images.rappi.com.ar/home-ab-objects/restaurantsicon-1642620539.png?e=webp&amp;d=150x150&amp;q=50" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 110px; height: 110px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;">
        </div>
        <span style="background-color: rgb(255, 233, 233); width: inherit; border-bottom-right-radius: 22px; border-bottom-left-radius: 22px; padding: 4px 0">Restaurantes</span>
      </div>
    </a>
    <a href="">
      <div class="card2-section1">
        <div>
          <img alt="Supermercados" src="https://images.rappi.com.ar/home-ab-objects/supermarket-1642621254.png?e=webp&amp;d=150x150&amp;q=50" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: contain;">
        </div>
        <span style="background-color: rgb(233, 252, 242); width: inherit; border-bottom-right-radius: 22px; border-bottom-left-radius: 22px; padding: 4px 0">Supermercados</span>
      </div>
    </a>
  </div>
</section>
<section>
  <p class="subtitle">Lo más buscado</p>
  <div class="tendencies">
    <a href="">
      <div class="tendencies-elements">
        <p>hielo</p>
      </div>
    </a>

    <a href="">
      <div class="tendencies-elements">
        <p>cerveza</p>
      </div>
    </a>

    <a href="">
      <div class="tendencies-elements">
        <p>coca</p>
      </div>
    </a>

    <a href="">
      <div class="tendencies-elements">
        <p>helado</p>
      </div>
    </a>

    <a href="">
      <div class="tendencies-elements">
        <p>franui</p>
      </div>
    </a>

    <a href="">
      <div class="tendencies-elements">
        <p>queso</p>
      </div>
    </a>

    <a href="">
      <div class="tendencies-elements">
        <p>leche</p>
      </div>
    </a>
  </div>
</section>
<section>
  <p class="subtitle">¡Los 10 más elegidos!</p>
  <div class="carousel">
    <div>
      <a href="">
        <div>
          <img alt="Mcdonald's" src="https://images.rappi.com.ar/restaurants_logo/mcdonalds-1600092917510-1617128080018.png?e=webp&amp;d=100x100&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width:75px;height:75px">
        </div>
        <div>
          <p class="customer">Mcdonald's</p>
        </div>
      </a>
    </div>

    <div>
      <a href="">
        <div>
          <img alt="Mostaza" src="https://images.rappi.com.ar/restaurants_logo/logo-1663343387541.png?e=webp&amp;d=100x100&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width:75px;height:75px">
        </div>
        <div>
          <p class="customer">Mostaza</p>
        </div>
      </a>
    </div>

    <div>
      <a href="">
        <div>
          <img alt="Burger King" src="https://images.rappi.com.ar/restaurants_logo/burger-1610076086158.png?e=webp&amp;d=100x100&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width:75px;height:75px">
        </div>
        <div>
          <p class="customer">Burger King</p>
        </div>
      </a>
    </div>

    <div>
      <a href="">
        <div>
          <img alt="Grido" src="https://images.rappi.com.ar/restaurants_logo/gridito-1615398972244.png?e=webp&amp;d=100x100&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width:75px;height:75px">
        </div>
        <div>
          <p class="customer">Grido</p>
        </div>
      </a>
    </div>

    <div>
      <a href="">
        <div>
          <img alt="El Club de la Milanesa" src="https://images.rappi.com.ar/restaurants_logo/logooo-1673035573537.png?e=webp&amp;d=100x100&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width:75px;height:75px">
        </div>
        <div>
          <p class="customer">El Club de la Milanesa</p>
        </div>
      </a>
    </div>

    <div>
      <a href="">
        <div>
          <img alt="Nicolo Helados" src="https://images.rappi.com.ar/restaurants_logo/lo-1643662505967.png?e=webp&amp;d=100x100&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width:75px;height:75px">
        </div>
        <div>
          <p class="customer">Nicolo Helados</p>
        </div>
      </a>
    </div>

    <div>
      <a href="">
        <div>
          <img alt="Rapanui" src="https://images.rappi.com.ar/restaurants_logo/rapa-1625747937080.png?e=webp&amp;d=100x100&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width:75px;height:75px">
        </div>
        <div>
          <p class="customer">Rapanui</p>
        </div>
      </a>
    </div>

    <div>
      <a href="">
        <div>
          <img alt="KFC" src="https://images.rappi.com.ar/restaurants_logo/114941-1557841048.png?e=webp&amp;d=100x100&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width:75px;height:75px">
        </div>
        <div>
          <p class="customer">KFC</p>
        </div>
      </a>
    </div>

    <div>
      <a href="">
        <div>
          <img alt="Subway" src="https://images.rappi.com.ar/restaurants_logo/113797-1545308320.png?e=webp&amp;d=100x100&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width:75px;height:75px">
        </div>
        <div>
          <p class="customer">Subway</p>
        </div>
      </a>
    </div>

    <div>
      <a href="">
        <div>
          <img alt="Cremolatti" src="https://images.rappi.com.ar/restaurants_logo/cremolatti-1581946239598.png?e=webp&amp;d=100x100&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width:75px;height:75px">
        </div>
        <div>
          <p class="customer">Cremolatti</p>
        </div>
      </a>
    </div>
  </div>
</section>

<section>
  <h2 style="margin: 3rem 0">Únete a <strong style="color: rgb(255, 68, 31)">Rappi</strong></h2>

  <div class="cards">
    <div class="card">
      <div>
        <img alt="Registra tu restaurante" src="https://images.rappi.com/cms-web/images/rappi-rest_0e19b56e8f.png?e=webp&amp;d=400x200&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width: 345.86px;">
      </div>
      <div class="card-body">
        <h3>Registra tu restaurante</h3>
        <p>Descubre los beneficios que tienen los +40.000 aliados en 9 países que ya trabajan con Rappi.</p>
        <button class="card-button">Conocer más</button>
      </div>
    </div>

    <div class="card">
      <div>
        <img alt="Registra tu comercio" src="https://images.rappi.com/cms-web/images/join_4f83d0801b.png?e=webp&amp;d=400x200&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width: 345.86px;">
      </div>
      <div class="card-body">
        <h3>Registra tu comercio</h3>
        <p>Accede a millones de usuarios de Rappi y disfrute de una logística inmediata sin salir de tu tienda.</p>
        <button class="card-button">Conocer más</button>
      </div>
    </div>

    <div class="card">
      <div>
        <img alt="Únete como repartidor" src="https://images.rappi.com/cms-web/images/rappi-rt_eb3b8152a6.png?e=webp&amp;d=400x200&amp;q=80" decoding="async" data-nimg="responsive" class="sc-42fa5ac5-0 jgBsGS" style="width: 345.86px;">
      </div>
      <div class="card-body">
        <h3>¡Únete como repartidor!</h3>
        <p>Gana dinero extra entregando domicilios, tenemos las mejores tarifas y beneficios.</p>
        <button class="card-button">Conocer más</button>
      </div>
    </div>
  </div>
</section>
